.btn{
  background-color: purple;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;

  transition: 0.3s;
}

.btn:hover{
  background-color: black;
  transform: scale(1.05);
}