.button {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 12px 20px;

  border: none;
  border-radius: var(--RADIUS-DEFAULT);

  font-family: var(--FONT-FAMILY-INTER);
  font-size: var(--FONT-SIZE-BODY);
  font-weight: var(--FONT-WEIGHT-MEDIUM);

  cursor: pointer;

  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);

  transition: var(--TRANSITION-DEFAULT);
}


/* PRIMARY */

.button--primary {
  background-color: var(--COLOR-PRIMARY);
  color: var(--COLOR-WHITE);
}

.button--primary:hover {
  background-color: var(--COLOR-PRIMARY-DARK);
}


/* DANGER */

.button--danger {
  background-color: var(--COLOR-DANGER);
  color: var(--COLOR-WHITE);
}

.button--danger:hover {
  background-color: var(--COLOR-WHITE);
  color: var(--COLOR-DANGER);
}


/* WARNING */

.button--warning {
  background-color: var(--COLOR-WARNING);
  color: var(--COLOR-TEXT-MAIN);
}

.button--warning:hover {
  background-color: var(--COLOR-WHITE);
  color: var(--COLOR-WARNING);
}


/* SUCCESS */

.button--success {
  background-color: var(--COLOR-SUCCESS);
  color: var(--COLOR-WHITE);
}

.button--success:hover {
  background-color: var(--COLOR-WHITE);
  color: var(--COLOR-SUCCESS);
}


/* DISABLED */

.button--disabled {
  background-color: var(--COLOR-LIGHT-GRAY);

  color: var(--COLOR-TEXT-LIGHT);

  cursor: not-allowed;
}