.rounded-button {

  width: 30px;

  height: 30px;

  border: none;

  border-radius: var(--RADIUS-CIRCLE);

  display: flex;

  align-items: center;

  justify-content: center;

  font-family: var(--FONT-FAMILY-INTER);

  font-size: var(--FONT-SIZE-BODY);

  font-weight: var(--FONT-WEIGHT-MEDIUM);

  cursor: pointer;

  transition: var(--TRANSITION-DEFAULT);
}


/* SELECTED */

.rounded-button--selected {

  background-color: var(--COLOR-PRIMARY);

  color: var(--COLOR-WHITE);

  border: 1px solid var(--COLOR-PRIMARY-DARK);
}


/* UNSELECTED */

.rounded-button--unselected {

  background-color: var(--COLOR-LIGHT-GRAY);

  color: var(--COLOR-TEXT-LIGHT);
}