.cell {
  display: flex;

  width: 206px;
  height: 30px;

  padding: 7px 16px;

  justify-content: center;
  align-items: center;

  gap: var(--SPACING-MD);

  box-sizing: border-box;

  color: var(--COLOR-TEXT-MAIN);

  text-align: center;

  font-family: var(--FONT-FAMILY-ROBOTO);

  font-size: var(--FONT-SIZE-BODY);

  font-style: normal;

  line-height: normal;
}


/* HEADER */

.cell-header {

  background: var(--TABLE-CEBRA-CELL);

  border-radius: var(--RADIUS-DEFAULT) 0 0 0;

  font-weight: var(--FONT-WEIGHT-SEMIBOLD);
}


/* CONTENT */

.cell-content {

  background: var(--TABLE-WHITE-CELL);

  border-radius: 0 0 0 var(--RADIUS-DEFAULT);

  font-weight: var(--FONT-WEIGHT-REGULAR);
}


/* ZEBRA */

.cell-zebra {

  background: var(--TABLE-CEBRA-CELL);

  border-radius: 0;

  font-weight: var(--FONT-WEIGHT-REGULAR);
}